body{
    color: white;
}

.patreon {
        /*Replace image link*/
          background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../img/patreon.png");
          height: 500px;
          background-repeat: no-repeat;
          background-size:cover;
        /*image is fixed in background all other elements are scrolling*/  
        /*background attachement makes image fixed*/
          background-attachment: fixed;
          position: relative;
          background-position: center;
      }
      .artjournal {
        /*Replace image link*/
        background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../img/vine.png");
        height: 500px;
        background-repeat: no-repeat;
        background-size:cover;
      /*image is fixed in background all other elements are scrolling*/  
      /*background attachement makes image fixed*/
        background-attachment: fixed;
        position: relative;
        background-position: center;
      }
      .bible {
        /*Replace image link*/
        background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../img/Bible.png");
        height: 500px;
        background-repeat: no-repeat;
        background-size:cover;
      /*image is fixed in background all other elements are scrolling*/  
      /*background attachement makes image fixed*/
        background-attachment: fixed;
        position: relative;
        background-position: center;
      }
      
      
      a{
        color:white;
      }
      a:hover { 
        color: red; 
    } 
    a {
        text-decoration: none;
    }